.filter-sort-bar {
    display: flex;

}

.filter-sort-bar-item-container {
    margin-left: 200px;
    width: 288px;
    display: inline-block;
}

.filter-sort-bar-item-container-2 {
    margin-left: 24px;
    width: 288px;
    display: inline-block;
}

.filter-sort-bar__select {
    display: flex;
    gap: 20px;
}

.filter-sort-bar__select__select {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 0px;
    width: 288px;
    background-color: #F2F2F2;
}

.filter-sort-bar__select__option {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: black;
    margin-top: 20px;
}

.filter-sort-bar-item-label {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4F4F4F;
    align-items: center;
    margin-left: 10px;
}