@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
  padding: 20px;
}

.app__title__container {
  height: 48px;
}

.app__title {
  font-size: 36px;
  color: black;
  font-weight: 600;
  font-weight: bold;
  margin-top: 32px;
  margin-left: 216px;
  font-family: 'SF Pro Display', sans-serif;
}

.app__breadcrumbs {
  margin-left: 216px;
  margin-top: 32px;
  height: 16px;
  width: 525px;
  font-family: 'SF Pro Display', sans-serif;
}

.breadcrumbs__item {
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
}

.breadcrumbs__item__bold {
  margin-right: 10px;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.breadcrumbs__separator {
  margin-right: 10px;
}


@media (min-width: 960px) and (max-width: 1120px) {
  .app__title {
    font-size: 36px;
    color: black;
    font-weight: 600;
    font-weight: bold;
    margin: 32px 126px;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@media (min-width: 720px) and (max-width: 960px) {
  .app__title {
    font-size: 36px;
    color: black;
    font-weight: 600;
    font-weight: bold;
    margin: 32px 46px;
    font-family: 'SF Pro Display', sans-serif;
  }
}


@media (min-width: 500px) and (max-width: 720px) {
  .app__title {
    font-size: 36px;
    color: black;
    font-weight: 600;
    font-weight: bold;
    margin: 32px 16px;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@media (max-width: 500px) {
  .app__title {
    font-size: 36px;
    color: black;
    font-weight: 600;
    font-weight: bold;
    margin: 32px 16px;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@media (min-width: 960px) and (max-width: 1120px) {
  .app__breadcrumbs {
    margin: 32px 126px;
    height: 16px;
    width: 525px;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@media (min-width: 720px) and (max-width: 960px) {
  .app__breadcrumbs {
    margin: 32px 46px;
    height: 16px;
    width: 525px;
    font-family: 'SF Pro Display', sans-serif;
  }
}


@media (min-width: 500px) and (max-width: 720px) {
  .app__breadcrumbs {
    margin: 32px 16px;
    height: 16px;
    font-family: 'SF Pro Display', sans-serif;
    width: 425px;
  }

  .breadcrumbs__item__bold {
    display: block;
  }
}

@media (max-width: 500px) {
  .app__breadcrumbs {
    margin: 32px 16px;
    height: 16px;
    font-family: 'SF Pro Display', sans-serif;
    width: 325px;
  }

  .breadcrumbs__item__bold {
    display: block;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .app__breadcrumbs {
    height: 16px;
    font-family: 'SF Pro Display', sans-serif;
    width: 250px;

  }

  .breadcrumbs__item__bold {
    display: block;

  }

  .app__title {
    margin-top: 60px;
  }
}